@font-face {
    font-family: "RCB-Regular";
    src: url(../src/assets/RadioCanadaBig-Regular.ttf);
}

@font-face {
    font-family: "RCB-Italic";
    src: url(../src/assets/RadioCanadaBig-Italic.ttf);
}

@font-face {
    font-family: "RCB-Bold";
    src: url(../src/assets/RadioCanadaBig-Bold.ttf);
}