@font-face {
  font-family: 'SairaStencilOne-Regular';
  src: url('../assets/Fonts/SairaStencilOne-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../assets/Fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('../assets/Fonts/Ubuntu-Italic.ttf');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../assets/Fonts/Ubuntu-Bold.ttf');
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    font-size: 1em;
    text-decoration: underline;
  }
  